& when (@media-common = true) {
    .page-footer{
        background-color: @autotem-color-abbey;
        overflow: hidden;
    }
    .footer.content {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    .navigation-footer-content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 46px 46px 0 0;
    }
    .navigation-footer-list{
        display: flex;
        justify-content: space-between;
        padding-bottom: 37px;
        & > div{
            h3{
                color: @autotem-color-silver-sand;
                font-size: @font-size-autotem-medium-large;
                line-height: 22px;
                margin-bottom: 5px;
            }
        }
        .list-footer-block{
            li{
                margin-bottom: 2px;
                a{
                    font-size: @font-size-autotem-smaller-large;
                    color: @autotem-color-oslo-gray;
                    line-height: 26px;
                }
            }
        }
        .catalog_footer{
            width: 32%;
            .list-footer-block{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 190px;
                li{
                    &:nth-child(1n + 8){
                        padding-left: 36px;
                    }
                }
            }
        }
    }
    .social-footer-content{
        width: 16%;
        padding: 43px 0 0 70px;
        background-color: @autotem-color-mako;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            background-color: @autotem-color-mako;
            width: 9999999px;
        }
        .social-networks{
            .title-social{
                font-size: @font-size-autotem-smaller-large;
                color: @autotem-color-oslo-gray;
            }
            .social-list{
                display: flex;
                flex-wrap: wrap;
                margin-top: 17px;
                li{
                    margin: 0 21px 19px 0;
                }
            }
        }
    }
    .phone-number-block{
        display: flex;
        flex-direction: column;
        margin-bottom: 49px;
        .phone-number{
            font-size: @font-size-autotem-average + 3;
            color: @autotem-color-silver-sand;
            line-height: 28px;
            font-weight: @font-weight__bold;
            margin-bottom: 11px;
        }
        .phone-information{
            font-size: @font-size-autotem-small;
            color: @autotem-color-oslo-gray;
        }
    }
    .copyright-block-content{
        border-top: 1px solid @autotem-color-abbey;
        display: flex;
        justify-content: space-between;
        padding: 24px 0 26px;
        .copyright{
            margin-top: 0;
            & > span{
                font-size: @font-size-autotem-smaller-large;
                color: @autotem-color-oslo-gray;
            }
        }
        .developed-block{
            display: flex;
            align-items: flex-start;
            span{
                font-size: @font-size-autotem-smaller-large;
                color:  @autotem-color-oslo-gray;
            }
        }
    }
}
