//  Sections variables
//  _____________________________________________

@header-top-background-color: @autotem-color-athens-gray;
@background-color-menu-dropdown: @autotem-color-athens-gray;
@min-width-menu-list-row: 160px;

//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-header {
        .panel.header {
            display: flex;
            justify-content: space-between;
            padding-top: 16px;
            padding-bottom: 19px;

            & > .header.links {
                display: flex;
                align-items: center;
                margin-left: 5%;

                .authorization-link {
                    margin-left: 0;

                    & > a {
                        .lib-icon-image(
                            @_icon-image: '@{baseDir}/images/icons/lock1.png',
                            @_icon-image-width: 15px,
                            @_icon-image-height: 20px
                        );
                        position: relative;
                        padding-left: 20px;

                        &::before {
                            position: absolute;
                            left: 0;
                            top: 1px;
                        }

                        &:hover {
                            &::before {
                                background-position: 0 -49px;
                            }
                        }
                    }
                }
            }

            .switcher {
                margin-right: 0;
                margin-left: 9px;

                .options {
                    display: flex;
                    margin-left: 6px;

                    .action.toggle {
                        margin-right: 13px;
                        padding: 11px 0 14px;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -1px;
                            width: 23px;
                            height: 2px;
                            left: 0;
                            background-color: @autotem-color-torch-red;
                        }
                    }

                    .selected-language {
                        margin-left: 13px;
                        padding: 11px 0 14px;
                    }
                }
            }
        }

        .header.content {
            .flex-element(@justify:space-between);
            padding: 0 55px;

            &::after,
            &::before {
                display: none;
            }

            .logo {
                margin: 0 5px 0 0;
            }

            .block-search {
                width: 27%;
                margin-top: 1px;

                .block.block-content {
                    padding-right: 6px;
                }

                .action.search {
                    opacity: 1;
                    padding-top: 11px;
                    right: 20px;

                    &::before {
                        color: @autotem-color-mine-shaft;
                        font-size: @font-size-autotem-large;
                        line-height: 28px;
                    }
                }
            }
        }

        .contact-number {
            position: relative;
            white-space: nowrap;
            .lib-icon-font(
                    @icon-down,
                    @font-icon-blanc-theme,
                    @font-size-autotem-average,
                @_icon-font-line-height:12px,
                @_icon-font-color: @autotem-color-mine-shaft,
                @_icon-font-position: after
            );

            &::after {
                transition: transform .3s;
                position: absolute;
            }

            .selected-number {
                font-size: @font-size-autotem-medium;
                font-weight: @font-weight__bold;
                line-height: 7.43px;
                color: @autotem-color-mine-shaft;
                white-space: nowrap;
            }

            .list-rooms {
                position: absolute;
                padding-left: 0;
                min-width: @min-width-menu-list-row;
                background-color: @background-color-menu-dropdown;
                box-shadow: @autotem-block-shadow;
                list-style-type: none;
                z-index: 10;
                display: none;

                & > li {
                    padding: 10px 15px;

                    a {
                        font-size: @font-size-autotem-medium;
                    }
                }
            }

            &:hover {
                &::after {
                    transform: rotate(180deg);
                }

                .list-rooms {
                    display: block;
                }
            }
        }

        .phone-callback-block {
            display: flex;
            margin: 0 5px 5px 0;
        }

        .phone-callback {
            color: @autotem-color-mine-shaft;
            padding: 12px 23px 13px 21px;
            border: 2px solid @autotem-color-sunglow;
            line-height: 7.43px;
            white-space: nowrap;
        }

        .panel.wrapper {
            background-color: @header-top-background-color;

            .panel.header {
                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }

    .actions-list-icons {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 3px;


        & > li {
            margin: 0 10px;

            a {
                .flex-element(
                    @justify:space-between,
                    @direction:column
                );
                position: relative;
                height: 100%;
            }

            &:first-child {
                a {
                    .lib-icon-image(
                        @_icon-image: '@{baseDir}/images/icons/garage.svg',
                        @_icon-image-width: 26px,
                        @_icon-image-height: 25px,
                        @_icon-image-margin: 0 0 6px
                    );
                    display: inline-flex;

                    &:hover {
                        &::before {
                            background-image: url("@{baseDir}/images/icons/garage-hover.svg");
                        }
                    }
                }
            }
        }

        .link {
            &.wishlist {
                a {
                    .lib-icon-image(
                        @_icon-image: '@{baseDir}/images/icons/wishlist.svg',
                        @_icon-image-width: 24px,
                        @_icon-image-height: 21px
                    );
                    display: inline-flex;

                    &:hover {
                        &::before {
                            background-image: url("@{baseDir}/images/icons/wishlist-hover.svg");
                        }
                    }
                }
            }

            &.compare {
                a {
                    .lib-icon-image(
                        @_icon-image: '@{baseDir}/images/icons/compare.svg',
                        @_icon-image-width: 32px,
                        @_icon-image-height: 23px,
                        @_icon-image-margin: 0 0 8px
                    );
                    display: inline-flex;

                    &:hover {
                        &::before {
                            background-image: url("@{baseDir}/images/icons/compare-hover.svg");
                        }
                    }
                }
            }
        }

        .minicart-wrapper {
            margin-left: 7px;
            margin-right: 5px;

            .action.showcart {
                margin-top: -3px;
                .lib-icon-image(
                    @_icon-image: '@{baseDir}/images/icons/minicart.svg',
                    @_icon-image-width: 28px,
                    @_icon-image-height: 27px,
                    @_icon-image-margin: 0 0 6px,
                    @_icon-image-text-hide:true
                );
                display: inline-flex;

                &:hover {
                    &::before {
                        background-image: url("@{baseDir}/images/icons/minicart-hover.svg");
                    }
                }

                & > span {
                    &.text {
                        position: static;
                        overflow: visible;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }

        .counter.qty {
            position: absolute;
            right: 11px;
            text-align: center;
            line-height: 16px;
            font-size: @font-size-ver-small;
            color: @autotem-color-white;
            background: @autotem-color-torch-red;
            font-weight: @font-weight__bold;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
    }

    .top-header-list {
        display: flex;
        padding-left: 0;
        list-style-type: none;

        & > li {
            &:first-child {
                a {
                    padding-left: 0;
                }
            }

            a {
                display: flex;
                align-items: center;
                line-height: 7.43px;
                padding: 0 17px;
                height: 100%;
            }
        }
    }

    .selected-city {
        position: relative;
        padding: 11px 0 14px;
        cursor: pointer;
        border-right: 1px solid @autotem-color-silver-sand;
        border-left: 1px solid @autotem-color-silver-sand;

        &:hover {
            .favorites-city {
                &::after {
                    transform: rotate(180deg);
                }
            }

            .list_city {
                display: block;
            }
        }

        .favorites-city {
            position: relative;
            cursor: pointer;
            padding: 0 12px 0 17px;
            .lib-icon-font(
                    @icon-down,
                    @font-icon-blanc-theme,
                    @font-size-autotem-average,
                @_icon-font-line-height:12px,
                @_icon-font-color: @autotem-color-mine-shaft,
                @_icon-font-position: after
            );

            &::after {
                font-weight: @font-weight__bold;
                transition: all .3s;
            }
        }


        .list_city {
            .dropdown-block();
            z-index: 10;
            padding: 10px;

            & > li {
                padding: 5px 10px;
            }
        }
    }

    .city-location {
        display: flex;

        .your-city {
            margin-right: 14px;
            padding: 11px 0 14px;
        }

        .list_city {
            list-style-type: none;
            display: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        .panel.header {
            padding-top: 0;
            padding-bottom: 0;
            position: relative;

            & > .header.links {
                & > li {
                    margin: 0 0 0 34px;
                }
            }
        }
    }
    .block-search {
        padding-left: 0;

        .nested {
            display: none;
        }

        .control {
            padding: 0;
        }
    }
}
