.flex-element(@justify:center, @direction: row, @align-items: center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align-items;
}

.dropdown-block(
    @_dropdown-list-top: 100%,
    @_dropdown-list-left: 0,
    @_background-dropdown-block: @autotem-color-athens-gray,
    @_box-shadow-dropdown-block: @autotem-block-shadow){
    position: absolute;
    top: @_dropdown-list-top;
    left: @_dropdown-list-left;
    background-color: @_background-dropdown-block;
    box-shadow: @_box-shadow-dropdown-block;
}

.transform-position-center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//.element-absolute-center() {
//    display: inline-block;
//    position: absolute;
//    top: 50%;
//    transform: translateY(-50%);
//}
//
//.element-circle-button {
//    background-color: @autostore-color-efect;
//    width: 50px;
//    height: 50px;
//    border-radius: 50%;
//}
